import React from 'react';
import Markdown from '@@/.guide/Markdown';
import { Anchor } from '@@/fork-ui/src/components/core';
import Codebox from '@@/.guide/Codebox';

{{#each importers}}
import {{this}} from '@@/.guide/_documents/{{../documentName}}/demo/{{this}}';
{{/each}}

export default () => {
  return (
    <div className="flex flex-wrap">
      <div className="flex flex-col w-1/3">
        {{#each importersLeft}}
        <div className="w-full" style={ { paddingBottom: '1px' } }>
          <Codebox Component={ {{this}} } />
        </div>
        {{/each}}
      </div>
      <div className="flex flex-col w-1/3" style={ { paddingLeft: '1px' } }>
        {{#each importersMiddle}}
        <div className="w-full" style={ { paddingBottom: '1px' } }>
          <Codebox Component={ {{this}} } />
        </div>
        {{/each}}
      </div>
      <div className="flex flex-col w-1/3" style={ { paddingLeft: '1px' } }>
        {{#each importersRight}}
        <div className="w-full" style={ { paddingBottom: '1px' } }>
          <Codebox Component={ {{this}} } />
        </div>
        {{/each}}
      </div>
    </div>
  );
};
