import React from 'react';
import DemoBox from '@style-guide/containers/DemoBox';
import {{Component}} from './{{Component}}';
// __INJECTED_LINE__
import * as allCode from './code';

export default () => {
  return (
    <div>
      <DemoBox name={allCode.{{Component}}.demoName} code={allCode.{{Component}}.code}>
        <{{Component}} />
      </DemoBox>
    </div>
  );
};
