import React from 'react';
import { DemoBox } from '@style-guide/components';
import {{MainGuide}} from './{{MainGuide}}';
import * as allCode from './code';

export default () => {
  return (
    <div>
      <DemoBox name={allCode.{{MainGuide}}.demoName} code={allCode.{{MainGuide}}.code}>
        <{{MainGuide}} />
      </DemoBox>
    </div>
  );
};
